html {
    scroll-behavior: smooth;
}

.collapse {
    &:not(.show) {
        display: none;
    }
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;

    &.collapse-horizontal {
        width: 0;
        height: auto;
        transition: height .35s ease;
    }
}



@keyframes flip {
    from {
        transform: rotateY(90deg)
    }
    to {
        transform: rotateY(0deg)
    }
}
