// Breadcrumb Navigation
.breadcrumb {
    margin-top: $mobile-design-space;
    font-size: $font-size-sm;
    font-weight: 400;
    @include media-breakpoint-up(md) {
        margin-top: $desktop-design-space;
    }

        ol {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: inline-block;

                &:last-child {
                    margin-right: 0;
            }

                a {
                    color: var(--lz-font-color);
                    text-decoration: none;
                    transition: color 0.2s;

                    &:hover {
                        color: var(--lz-primary);
                }
            }
        }
    }
        &-item {
            &::after {
                content: ">";
                display: inline-block;
                padding-right: .3rem;
                padding-left: .3rem;
        }
    }
}
