

.cb-imagetext {

    &-image {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &-text {
        width: 100%;
        padding: 2rem 0 2rem 0;
        font-size: 0.888888889rem;
        font-weight: 400;


        .container-xl.grid & {
            padding-right: 2rem;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &-title {
        font-weight: 400;
        font-size: $h3-mobile-font-size;
        @include media-breakpoint-up(md) {
            font-size: $h3-font-size;
        }
        font-family:$font-family-headlines;
    }

}

