.cb-pageteaser {

    .frame-type-slub_pageteaser & {
        border-top: 1px solid var(--lz-gray);
        padding-top: $mobile-design-space;
        margin-bottom: 0;
        padding-bottom: 0;
        @include media-breakpoint-up(md) {
            padding-top: $desktop-design-space;
        }
    }

    .frame-type-slub_pageteaser:last-of-type & {
        border-bottom: 1px solid var(--lz-gray);
        padding-bottom: $mobile-design-space;
        padding-top: $mobile-design-space;
        padding-bottom: $mobile-design-space;

        @include media-breakpoint-up(md) {
            padding-bottom: $desktop-design-space;

        }
    }


    @include media-breakpoint-up(md) {
        padding-top: $desktop-design-space;
        padding-bottom: $desktop-design-space;
    }

    &-image {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    &-header {
        margin-bottom: $headlines-margin-bottom;

        a {
            text-decoration: none;
            color: inherit;
            &:hover, &:focus {
                color: var(--lz-primary);
            }
        }
    }

    &-title {
        font-weight: 400;
        font-size: $h3-mobile-font-size;
        font-family:$font-family-headlines;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            font-size: $h3-font-size;
        }

    }

    &-date {
        font-weight: 500;
        font-size: $font-size-sm;
    }

    p {
        margin-bottom: 0;
        hyphens: auto;
    //    text-align: justify;
    }

}



