
.cb-newslist {

    &-item {
        margin-bottom: 4rem;
        break-inside: avoid-column;

        &-body {
            p {
                margin-bottom: 0;
                display: inline;
            }
            .read-more {

            }
        }
    }

    &-image {
        margin-bottom: 1rem;
        img {
            width: 100%;
            height: auto;
        }
    }

    .cb-pageteaser-title {
        padding-bottom: 4px;
    }

}


