@mixin container-paddings {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;

    @include media-breakpoint-between(md, xl) {
        padding-right: calc($container-padding-x * 2);
        padding-left: calc($container-padding-x * 2);
    }

    @include media-breakpoint-up(xl) {
        padding-right: 0;
        padding-left: 0;
    }
}


.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: map-get($container-max-widths, 'xl');
    @include container-paddings;
}


// Todo: refactor frame paddings and create a mixins for col styles
.grid {
    display: grid;
    gap: 1rem;

    // frames in the 2 col Layout (with sidebar) have their own paddings because of full size grey background
    &.sidebar-left, &.sidebar-right {
        padding-left: 0;
        padding-right: 0;
        gap: 0;

        .frame {
            @include container-paddings;
        }

    }

    &-2col {
        &-md {
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(2, 1fr);
                gap: $desktop-design-space;

                &.sidebar-left, &.sidebar-right {
                    gap: $desktop-design-space;

                    @include container-paddings;
                    .frame {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &.sidebar-right {
                    .sidebar {
                        order: 2;
                    }
                    .content {
                        order: 1
                    }

                }

            }
        }

        &-lg {
            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(2, 1fr);
                gap: $desktop-design-space;

                &.sidebar-left, &.sidebar-right {
                    gap: $desktop-design-space;

                    @include container-paddings;
                    .frame {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &.sidebar-right {
                    .sidebar {
                        order: 2;
                    }
                    .content {
                        order: 1
                    }

                }

            }
        }
    }

    &-3col {
        &-md {
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(3, 1fr);
                gap: $desktop-design-space;

                &.sidebar-left, &.sidebar-right {
                    gap: $desktop-design-space;

                    @include container-paddings;
                    .frame {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &.sidebar-right {
                    .sidebar {
                        order: 2;
                    }
                    .content {
                        order: 1
                    }

                }

            }
        }

        &-lg {
            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(3, 1fr);
                gap: $desktop-design-space;

                &.sidebar-left, &.sidebar-right {
                    gap: $desktop-design-space;

                    @include container-paddings;
                    .frame {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                &.sidebar-right {
                    .sidebar {
                        order: 2;
                    }
                    .content {
                        order: 1
                    }

                }


            }
        }
    }


    &-4col {
        &-md {
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(4, 1fr);
                gap: $desktop-design-space;

                &.sidebar-left, &.sidebar-right {
                    gap: $desktop-design-space;

                    @include container-paddings;
                    .frame {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &.sidebar-right {
                    .sidebar {
                        order: 2;
                    }
                    .content {
                        order: 1
                    }

                }

            }
        }

        &-lg {
            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(4, 1fr);
                gap: $desktop-design-space;

                &.sidebar-left, &.sidebar-right {
                    gap: $desktop-design-space;

                    @include container-paddings;
                    .frame {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &.sidebar-right {
                    .sidebar {
                        order: 2;
                    }
                    .content {
                        order: 1
                    }

                }

            }
        }
    }
}

// Use the mixin to generate the specific classes for colspan like .grid-colspan-md-2, .grid-colspan-lg-3
.grid-colspan {
    @each $breakpoint, $columns-list in (md: (2), lg: (2, 3)) {
        @each $columns in $columns-list {
            &-#{$breakpoint}-#{$columns} {
                @include grid-colspan($breakpoint, $columns);
            }
        }
    }
}

.frame-gray-background, .section-gray-background {
    background-color: var(--lz-light-gray);
}


// Masonry Layout (News Overview)
// ToDo: refactor later if browser support ist good, from "fake masonry" to "real masonry" (grid-template-rows: masonry)
.masonry {

    @include media-breakpoint-up(md) {
        columns: 2;
        column-gap: $desktop-design-space;
    }

    @include media-breakpoint-up(lg) {
        columns: 3;
        column-gap: $desktop-design-space;
    }


}

