/*html::view-transition-group(.filterblock) {
    animation-duration: 0.5s;
  //  animation-timing-function: ease-in-out;
}*/

.filter {

    &-toggler {
        @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
            display: none;
        }
    }

    &-container {
        // ToDo: maybe extract .offcanvas later as mixin (second use with other breakpoint in mainNav.scss)
        &.offcanvas {
                visibility: hidden;
                display: flex;
                flex-direction: column;
                background-color: var(--lz-offcanvas-bg);
                background-clip: padding-box;
                outline: 0;
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                top: 0;
                right: 0;
                width: 350px;
                border-left: 1px solid var(--lz-gray);
                transform: translateX(100%);
                transition: transform 0.3s ease-in-out;
                position: fixed;
                bottom: 0;
                z-index: 100;
                max-width: 100%;

                @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
                    position: sticky;
                    display: block;
                    top: 1rem;
                    z-index: auto;
                    width: auto;
                    height: auto;
                    visibility: visible;
                    background-color: transparent;
                    border: 0;
                    transform: none;
                    box-shadow: none;
                    transition: none;
                }

                &.showing,
                &.show:not(.hiding) {
                    transform: none;
                }

                &.showing,
                &.hiding,
                &.show {
                    visibility: visible;
                }
            }

        .offcanvas-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 1rem 1rem 1rem;
            @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
                display: none;
            }
        }

        .offcanvas-body {
            flex-grow: 1;
          //  padding: 0 1rem 1rem 1rem;
            overflow-y: auto;
            justify-content: flex-end;
            @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
                display: block;
                flex-grow: 0;
                padding: 0;
                overflow-y: visible;
                background-color: transparent;
            }
        }

        .offcanvas-title {
            margin-bottom: 0;
            text-transform: uppercase;
        }


    }

    &-block {
        h4 {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 0.5rem;
            letter-spacing: 0.01em;
        }

        ul {
            font-size: $font-size-md;
            list-style: none;
            padding: 0;
            margin: 0;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            padding-right: 5px;
            margin-right: -5px;
            scrollbar-color: var(--lz-primary) var(--lz-light-gray);
      //      view-transition-class: filterblock;

            li.hidden {
                display: none;
            }


/*            // border top on selected fields behind a hidden field
            li.hidden + li:not(.hidden) {
                border-top: 1px solid var(--lz-gray);
                padding-top: 2px;
            }*/


            &.showMore {
                li.hidden {
                    display: list-item;
                }
                li.hidden + li:not(.hidden) {
                    border-top: none;
                    padding-top: inherit;
                }
            }
        }

        &-toggler {
          //  font-size: $font-size-sm;
          //  padding: 0.3rem 0.5rem;
            font-size: $font-size-md;
            font-weight: 500;
            border: none;
            padding: 0;
            margin-top: 0.5rem;

            &:hover, &:focus, &:active {
                color: var(--lz-primary);
                cursor: pointer;
            }
        }


            a.filter-item {
                &::before {
                    content: none;
                }
            }

    }

    &-item {
        display: flex;
        font-weight: 400;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3px;

        &-label {
            display: flex;
            flex-grow: 0;
            align-items: center;

            &::before {
                content: "";
                margin-right: 0.75em;
                display: block;
                height: 1em;
                width: 1em;
                flex-shrink: 0;
                border: 1px solid var(--lz-font-color);
                background-position: center;

                .selected & {
                    background-color: var(--lz-primary);
                    border-color: var(--lz-primary);
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Im01IDEzIDQgNEwxOSA3Ij48L3BhdGg+Cjwvc3ZnPg==)
                }
            }


        }

        &:hover {
            .filter-item-label::before {
                border-color: var(--lz-primary);
            }
        }

    }

    // Slider

    &-slider {
        margin-top: 0;
        padding: 0 10px;


        &-container {
            position: relative;
            height: 30px;
            margin-bottom: 10px;
        }

        .slider-track {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 2px;
            background-color: var(--lz-gray);
            border-radius: 2px;
        }

        .slider-range {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 3px;
            background-color: var(--lz-primary);
            border-radius: 2px;
        }

        .slider-handle {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            background-color: var(--lz-primary);
            border-radius: 50%;
            cursor: pointer;
            z-index: 2;
            transition: transform 0.1s ease;
        }

        .slider-handle:hover,
        .slider-handle:active {
            transform: translate(-50%, -50%) scale(1.15);
            box-shadow: 0 0 0 5px var(--lz-tertiary-middle-blue);
        }

        &-input {

            margin-left: -10px;
            margin-right: -10px;

            .input-group {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                input {
                    font-size: $font-size-md;
                    font-weight: 400;
                    width: 4em;
                    padding: 4px 4px 4px 4px;
                    border: 1px solid var(--lz-font-color);
                }
            }
        }

        &-submit {
            font-size: $font-size-md;
            margin-top: 10px;
            width: 100%;
            display: none;
            &.show {
                display: block;
            }
        }


    }



}


