
.footer {
    font-size: $font-size-sm;
    font-weight: 300;

  a {
    text-decoration: none;
    color: inherit;

    &:hover, :focus {
    text-decoration: underline;
    }
  }


  ul {
    font-size: $font-size-sm;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }


 &-main {
     margin-top: $desktop-design-space;
     font-size: $font-size-sm;
     line-height: 1.36;
     font-weight: 300;
     @include media-breakpoint-up(md) {
         margin-top: calc($desktop-design-space + 25px);
     }

     h3, h4 {
         font-size: $font-size-sm;
         font-weight: 500;
         font-family: $font-family-base;
     }
 }

    &-founding-logos {
        display: flex;
        flex-direction: column;
        gap: $desktop-design-space;
        align-items: flex-start;
         .cols {
             display: flex;
             flex-wrap: wrap;
             gap: $desktop-design-space;
             flex-direction: column;
             @include media-breakpoint-up(md) {
                flex-direction: row;
             }
         }
        .logo {
            height: 50px;
            width: auto;
            &.heidelberg {
                height: 73px;
            }
            &.weimar {
                height: 65px;
            }
            &.slub {
                height: 48px;
            }
            &.dfg {
                height: 58px;
                margin-left: 3px;
            }
        }
    }

  &-cta {
//    margin-top: calc($desktop-design-space * 2); // not possible because of gray background
    padding-top: $desktop-design-space;
    padding-bottom: $desktop-design-space;
    background-color: var(--lz-primary);

      &.no-newsteaser {
          margin-top: calc($mobile-design-space * 2);
          @include media-breakpoint-up(md) {
          margin-top: calc($mobile-design-space * 2);
         }
      }



    &-title {
      font-size: $font-size-base;
      font-weight: 500;
        margin-top: 0;
        font-family: $font-family-base;
    }


    a {
      color: white;
      font-weight: 500;
      text-decoration: none;
      font-size: 1.333rem;
      line-height: 1.2;
        &:hover, :focus {
            text-decoration: underline;
        }
    }

    svg {
        height: 0.5em;
        vertical-align: middle;
    }
  }

    &-disclaimer {
        h3 {
            font-size: $font-size-base;
            font-weight: 600;
            margin-top: 0;
            font-family: $font-family-base;
            margin-bottom: 0.4rem;
        }

        p {
            font-size: $font-size-md;
            font-weight: 300;
            margin-bottom: 0;
        }

        a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-weight: inherit;
            &:hover, :focus {
                text-decoration: underline;
            }
        }
    }

    &-meta {
        background-color: $lightgray;
        margin-top: $desktop-design-space;
        @include media-breakpoint-up(md) {
            margin-top: calc($desktop-design-space + 25px);
        }

        &-wrapper {
            display: flex;
            gap: 0.5em;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
         //   padding-top: 1em;
         //   padding-bottom: 1em;
            @include media-breakpoint-up(md) {
               // padding: 0;
            }
        }

        &-nav {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                margin: 0;
                gap: 1rem;
            }
        }
    }


}

