
.footer {
    font-size: 0.7777777rem;
    font-weight: 300;

  a {
    text-decoration: none;
    color: inherit;

    &:hover, :focus {
    text-decoration: underline;
    }
  }


  ul {
    font-size: 0.7777777rem;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }


 &-main {
     margin-top: $standard-design-space;
     font-size: 0.7777777rem;
     line-height: 1.36;
     font-weight: 300;


     h3, h4 {
         font-size: 0.7777777rem;
         font-weight: 500;
         font-family: $font-family-base;
     }
 }

    &-founding-logos {
        display: flex;
        flex-direction: column;
        gap: $standard-design-space;
        align-items: flex-start;
         .cols {
             display: flex;
             flex-wrap: wrap;
             gap: $standard-design-space;
             flex-direction: column;
             @include media-breakpoint-up(md) {
                flex-direction: row;
             }
         }
        .logo {
            height: 50px;
            width: auto;
            &.heidelberg {
                height: 73px;
            }
            &.weimar {
                height: 65px;
            }
            &.slub {
                height: 48px;
            }
            &.dfg {
                height: 58px;
                margin-left: 3px;
            }
        }
    }

  &-cta {
    margin-top: $standard-design-space;
    padding-top: $standard-design-space;
    padding-bottom: $standard-design-space;
    background-color: var(--lz-primary);

    @include media-breakpoint-up(md) {
        margin-top: $standard-design-space;
    }

    &-title {
      font-size: $font-size-base;
      font-weight: 400;
        margin-top: 0;
        font-family: $font-family-base;
    }


    a {
      color: white;
      font-weight: 400;
      text-decoration: none;
      font-size: 1.333rem;
      line-height: 1.2;
        &:hover, :focus {
            text-decoration: underline;
        }
    }

    svg {
        height: 0.5em;
        vertical-align: middle;
    }
  }

    &-meta {
        background-color: $lightgray;
        margin-top: $standard-design-space;

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-nav {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                margin: 0;
                gap: 1rem;
            }
        }
    }


}

