form {
    --lz-form-padding-h: 0.5rem;
    --lz-form-padding-v: 0.7rem;





    .input-group {
        width: 100%;
        display: flex;
        align-items: stretch;
        position: relative;

        &>:not(:first-child):not(.dropdown-menu) {
            margin-left: -1px;
        }

    }

    input {

        &::placeholder {
            color: var(--lz-tertiary-dark-blue);
            opacity: 1;
        }
    }

    input[type="text"] {
        border: 1px solid var(--lz-font-color);
        padding: var(--lz-form-padding-h) var(--lz-form-padding-v);

    }


    .btn {
        font-size: 0.88rem;
        padding: var(--lz-form-padding-h) var(--lz-form-padding-v);

        appearance: none;
        background-color: var(--lz-font-color-inverse);
        border: 1px solid var(--lz-font-color);

        &-primary {
            &:hover, &:focus, &:active, &.active {
                background-color: var(--lz-primary);
                color: var(--lz-font-color-inverse);
            }
        }

        &-black {
            &:hover, &:focus, &:active, &.active {
                background-color: var(--lz-font-color);
                color: var(--lz-font-color-inverse);
            }
        }

    }

}

