form {
    --lz-form-padding-h: 0.5rem;
    --lz-form-padding-v: 0.7rem;


    .input-group {
        width: 100%;
        display: flex;
        align-items: stretch;
        position: relative;

        & > :not(:first-child):not(.dropdown-menu) {
            margin-left: -1px;
        }

    }

    input {

        &::placeholder {
            color: var(--lz-tertiary-dark-blue);
            opacity: 1;
        }
    }

    input[type="text"] {
        border: 1px solid var(--lz-font-color);
        padding: var(--lz-form-padding-h) var(--lz-form-padding-v);
        border-radius: 0;

    }


}

.btn {
    font-size: 0.88rem;
    padding: var(--lz-form-padding-h) var(--lz-form-padding-v);
    color: var(--lz-font-color);
    appearance: none;
    background-color: var(--lz-font-color-inverse);
    border: 1px solid var(--lz-font-color);
    cursor: pointer;

    &-primary {
        &:hover, &:focus, &:active, &.active {
            background-color: var(--lz-primary);
            color: var(--lz-font-color-inverse);
        }
    }

    &-black {
        &:hover, &:focus, &:active, &.active {
            background-color: var(--lz-font-color);
            color: var(--lz-font-color-inverse);
        }
    }

}

.form-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input {
        appearance: none;
        width: 1em;
        height: 1em;
        vertical-align: top;
        border: 1px solid var(--lz-font-color);

        &:checked {
            background-color: var(--lz-primary);
            border-color: var(--lz-primary);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
        }

        &:focus {
            border-color: var(--lz-primary);
          //  outline: none;
        }

        &:disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
        }
    }
}
