:root {
    --lz-primary: #{$coralrot};
    --lz-font-color: black;
    --lz-font-color-inverse: white;
}


.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  @include visually-hidden;
}

main {
  margin-top: 2rem;
  @include media-breakpoint-up(md) {
    margin-top: 3rem;
  }

}

.container-xl {
  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


