:root {
    --lz-primary: #{$coralrot};
    --lz-font-color: black;
    --lz-font-color-inverse: white;
    --lz-light-gray: #{$lightgray};
    --lz-gray: #{$gray};
    --lz-tertiary-bg: #{$tertiary-bg};
    --lz-tertiary-light-blue: #{$tertiary-light-blue};
    --lz-tertiary-middle-blue: #{$tertiary-middle-blue};
    --lz-tertiary-dark-blue: #{$tertiary-dark-blue};
    --lz-offcanvas-bg: #{$offcanvas-bg};
}


.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    @include visually-hidden;
}


// change color on svg icons via url is only possible with mask, maybe a iconfont is better for this or inline svg in html
// also word breaks can happen between last word and icon
.arrow-right {
    &-after {
        // no warp words
        white-space: nowrap;
        &::after {
            background-color: currentColor;
            content: "";
            mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.38 23.69" fill="currentColor"><g><polygon class="cls-1" points="41.64 0 39.1 2.73 46.91 9.98 0 9.98 0 13.71 46.91 13.71 39.1 20.96 41.64 23.69 54.38 11.85 41.64 0"/></g></svg>');
            mask-repeat: no-repeat;
            mask-position: center;
            display: inline-block;
            margin-left: .3rem;
            width: 1em;
            height: 0.6em;

        }
    }
}

.read-more, .go-back {
        // no warp words
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
        font-weight: 500;

        &:hover{
            color: var(--lz-primary);
        }

        &:before {
            background-color: currentColor;
            content: "";
            mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.38 23.69" fill="currentColor"><g><polygon class="cls-1" points="41.64 0 39.1 2.73 46.91 9.98 0 9.98 0 13.71 46.91 13.71 39.1 20.96 41.64 23.69 54.38 11.85 41.64 0"/></g></svg>');
            mask-repeat: no-repeat;
            mask-position: center;
            display: inline-block;
            margin-right: .3rem;
            width: 1em;
            height: 0.6em;

        }
}

.go-back:before {
    mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="arrow-left" fill="%23000" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.38 23.69"><g id="arrow-left"><polygon points="12.74 23.69 15.28 20.96 7.47 13.71 54.38 13.71 54.38 9.98 7.47 9.98 15.28 2.73 12.74 0 0 11.84 12.74 23.69" /></g></svg>');
}


