main {
    margin-top: $mobile-design-space;

    margin-bottom: $mobile-design-space;

    @include media-breakpoint-up(md) {
        margin-top: $desktop-design-space;
        margin-bottom: $desktop-design-space;
    }
    @include media-breakpoint-up(xl) {
        margin-top: calc($desktop-design-space * 2);
        margin-bottom: calc($desktop-design-space + 10px);
    }

    // Lists in main content
    ul {
        padding-left: 1em;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    // margins between content elements in main
    .frame {
        margin-bottom: $mobile-design-space;
        &-extra-mb {
            margin-bottom: calc($mobile-design-space * 2);
        }
        @include media-breakpoint-up(md) {
            margin-bottom: $desktop-design-space;
            &-extra-mb {
                margin-bottom: calc($desktop-design-space * 2);
            }
        }
    }


}
