.navbar {
}

.mainnav {
    font-size: 1rem;
    .navbar-nav {
        font-weight: 400;
    }

    text-transform: uppercase;

    // last child of li in ul navbar-nav padding.right inside a tag = 0
    .navbar-nav > li:last-child > a {
        padding-right: 0;
    }

    .nav-link {
        &-text {
            padding: 0.25em 0.4rem;
        }

        &:hover, &:focus, &:active {
            .nav-link-text, .active & {
                background-color: var(--lz-font-color);
                color: var(--lz-font-color-inverse);
            }

            &::after {
                color: black;
            }
        }

        // remove caret on dropdown
        &.dropdown-toggle {
            &::after {
                display: none;
            }
        }

        &.nav-current {
            cursor: default;
            .nav-link-text {
                background-color: var(--lz-primary);
                color: var(--lz-font-color-inverse);
            }
        }
    }

    .dropdown-menu {
        // --bs-dropdown-link-hover-bg: var(--lz-font-color);
       //  --bs-dropdown-link-hover-color: var(--lz-font-color-inverse);

        .dropdown-item {
            text-transform: none;
        }

    }

    // active parent root level only black if not offcanvas
    &:not(.show, .showing){
        .root-level {
            &.active {
                .nav-link-text {
                    background-color: var(--lz-primary);
                    color: var(--lz-font-color-inverse);
                    cursor: default;
                }
            }
            // show dropdown on mouseover
            &:hover.dropdown .dropdown-menu {
                display: block;
            }
        }

    }

    // only open offcanavs menu
    &.show, &.showing {
        line-height: 1.25;
        li.root-level > a {
           // font-size: var(--bs-body-font-size);
        }
        .dropdown-menu {
            padding: 0;
            box-shadow: none;
            border: none;
            margin-top: 0;
            display: block;
        }
        .dropdown-item {
            text-transform: none;
        }

            .dropdown-item.active {
         //   background-color: var(--lz-font-color);
        }
        .dropdown-toggle::after {
            display: none;
        }

        .nav-link-text {
            display: block;
            width: 100% ;
        }

    }

    .offcanvas-header {
   // --bs-offcanvas-padding-y: 1.5rem;
    }

    .offcanvas-body {
        justify-content: flex-end;
        padding-top: 0;
    }



}


// ToDo: on mobile place this menu at bottomlinke ios, on desktop sticky?
.sidemenu {
    display: none;
    position: fixed;
    right: 0;
    top: 500px;
    z-index: 1000;
 //   background-color: var(--bs-body-bg);
 //   border: 1px solid var(--bs-border-color);
    border-right: none;
    padding: 15px 0 15px 0;
    width: 68px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @include media-breakpoint-up(lg) {
        display: flex;
    }

    &-item {
        display: block;

        &:hover, &:focus, &:active {
            color: var(--lz-primary);

            svg {
                fill: var(--lz-primary);
            //    color: var(--bs-body-primary);

            }
        }

        svg {
            width: 25px;
            height: 25px;
            color: var(--lz-font-color);
        }
    }
}


// Breadcrumb Navigation
.breadcrumb {
   font-size: $small-font-size;

    ol {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: var(--lz-font-color);
                text-decoration: none;
                transition: color 0.2s;

                &:hover {
                    color: var(--lz-primary);
                }
            }
        }
    }
    &-item {
        &::after {
            content: ">";
            display: inline-block;
            padding-right: .3rem;
            padding-left: .3rem;
        }
    }
}
