.mainnav {
  font-size: 1rem;

  .navbar-nav {
    --bs-nav-link-hover-color: #fff;
    font-weight: 400;
  }

  // all text in uppercase
    text-transform: uppercase;

    // find last child of li in ul navbar-nav and set padding.right inside a tag 0
    .navbar-nav > li:last-child > a {
      padding-right: 0;
    }

  .offcanvas-body {
    justify-content: flex-end;
  }

  &.show {
    .dropdown-menu {
      box-shadow: none;
      border: none;
      margin-top: 0;
      display: block;
    }
  }

  .nav-link {
    &-text {
     padding: 0.25em 0.4rem;
    }

    &:hover, &:focus, &:active {
      .nav-link-text {
        background-color: var(--bs-primary);
        color: var(--lz-font-color-inverse);
      }
      &::after {
        color: black;
      }
    }
  }
}


// ToDo: on mobile place this menu at bottomlinke ios, on desktop sticky?
.sidemenu {
  display: none;
  position: fixed;
  right: 0;
  top: 500px;
  z-index: 1000;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-right: none;
  padding: 15px 0 15px 0;
  width: 68px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &-item {
    display: block;
    &:hover, &:focus, &:active {
      color: var(--bs-primary);
      svg {
        fill: var(--bs-primary);
        color: var(--bs-body-primary);

      }
    }

    svg {
      width: 25px;
      height: 25px;
      color: var(--bs-body-color);
    }
  }
}