
.news {

    &-header {
        margin-bottom: $headlines-margin-bottom;

        h1, h2, h3 {
            margin-bottom: 0;
        }
    }

    &-date {
        font-weight: 500;
        letter-spacing: 0.03em;
    }

    &-row {
        margin-bottom: $desktop-design-space;
    }

    &-teaser {
        background-color: var(--lz-light-gray);
        padding-top: $desktop-design-space;
        padding-bottom: $desktop-design-space;

        &-title {
            font-weight: 600;
            font-size: 1rem;
            font-family: $font-family-base;
        }

        p {
            margin-bottom: 0;
        }

        &-show {
            display: none;
            margin: 0 auto 2rem auto;
            border: none;
            background: transparent;

            &.collapsed {
                display: block;
            }
        }

    }



    &-entry {
        &-header {
            margin-bottom: $headlines-margin-bottom;
        }
        &-title {
            font-weight: 400;
            font-size: 1.777777778rem;
            font-family:$font-family-headlines;
            margin-bottom: 0;
        }
        &-date {
            font-weight: 500;
            font-size: 0.77777777rem;
        }
    }
}
