// ToDo: merge news pagination and search results pagination to one uniform pagination style?
.news-pagination {
    list-style-type: none;
    display: flex;
    margin: 2rem 0 0 0;
    padding: 0;
    gap: 1rem;

    a.page-link {
        text-decoration: none;
        color: inherit;
        border: 1px solid var(--lz-font-color);
        padding: 0.1em 0.5em;

        &:hover, &.active {
            color: var(--lz-primary);
        }
        &.active {
            cursor: default;
        }

    }

    a.page-icon {
        color: var(--lz-font-color);

        svg {
            stroke-width: 2.5px;
        }
        &:hover, &.active {
            color: var(--lz-primary);
        }
    }
}


.searchresults-pagination {
    display: flex;
    justify-content: center;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;


        li {
            display: inline-flex;
            border: 1px solid var(--lz-font-color);
            border-left: none;
            flex-shrink: 0;

            &:first-child {
                border-left: 1px solid var(--lz-font-color);
            }

            &.hide-mobile {
                display: none;
                @include media-breakpoint-up(lg) {
                    display: inline-flex;
                }
            }

            &.current a {
                font-weight: 600;
                color: var(--lz-primary);
                cursor: default;
            }

            a, .dots {
                padding: 0.8em 1em 0.6em 1em;
                font-size: $font-size-sm;
                line-height: 1;
                &:before {
                    content: none;
                }

            }
        }
    }

}
