.pagination {

    list-style-type: none;
    display: flex;
    margin: 2rem 0 0 0;
    padding: 0;
    gap: 1rem;

    a.page-link {
        text-decoration: none;
        color: inherit;
        border: 1px solid var(--lz-font-color);
        padding: 0.1em 0.5em;

        &:hover, &.active {
            color: var(--lz-primary);
        }
        &.active {
            cursor: default;
        }

    }

    a.page-icon {
        color: var(--lz-font-color);

        svg {
            stroke-width: 2.5px;
        }
        &:hover, &.active {
            color: var(--lz-primary);
        }
    }


}
