.searchresults {

    &-info {
        grid-column: 1 / -1; // Default: spans the entire width, regardless of the number of columns
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -1rem;

        @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
            flex-wrap: nowrap;
            margin-top: inherit;
        }


        &-buttons {
            order: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;

            @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
                width: auto;
                order: 2;
                margin-bottom: 0;
            }
        }

        &.frame {
            margin-bottom: $mobile-design-space;
            @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
                margin-bottom: 0;
            }
        }
    }

    &-total-items {
        order: 2;
        font-weight: 600;
        letter-spacing: 0.01em;

        @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
            order: 1;
        }
    }


    &-filtertags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.3rem;
        margin-top: 1rem;

        &-tag {
            white-space: nowrap;
            border: 1px solid var(--lz-font-color);
            padding: 0.4em 0.3em 0.3em 0.5em;
            font-size: $font-size-sm;
            display: flex;
            align-items: center;
            gap: 0.3rem;
            line-height: 1;
          //  text-transform: uppercase;

            a {
                appearance: none;
                display: inline-flex;
                width: 1em;
                height: 1em;
                text-decoration: none;
                vertical-align: middle;

             //   border-radius: 9999px;
             //   padding: 0.25rem;
                color: var(--lz-font-color);
                &:hover {
                    color: var(--lz-primary);
                }

                svg {
                    width: 0.7rem;
                    height: 0.7rem;
                    vertical-align: middle;
                    display: block;
                }
            }
        }
    }





    &-item {
            border-bottom: 1px solid var(--lz-gray);
            margin-bottom: $mobile-design-space;
            padding-bottom: $mobile-design-space;
            padding-top: $mobile-design-space;
            position: relative;



        // last item without border bottom
            &:last-child {
                border-bottom: none;
            }

            @include media-breakpoint-up(sm) {
                margin-left: $desktop-design-space;
                padding-top: 0;
            }

            @include media-breakpoint-up(#{$SearchResultsMultiCol}) {
                margin-bottom: $desktop-design-space;
                padding-bottom: $desktop-design-space;
                margin-left: $desktop-design-space;
            }


        &-label {
            font-size: $h4-font-size;
            line-height: 1.2;
            margin-bottom: 4px;
        }

        &-title {
            line-height: 1.2;
            margin-bottom: 0.6rem;
            @include media-breakpoint-up(sm) {
                position: relative;
            }

            h3 {
                margin-bottom: 0;
            }
        }

        &-details {
            font-weight: 500;
            font-size: $font-size-sm;
            letter-spacing: 0.01em;
            line-height: 1.2;
        }

        &-icon {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 27px;
            width: 27px;

            svg.iconpack {
                width: auto;
                height: 100%;
                margin-right: 0;
            }


            @include media-breakpoint-up(sm) {
                position: absolute;
                display: flex;
                left: calc($desktop-design-space * -1);
                width: 29px;
                height: 2rem;
                align-items: center;

                svg.iconpack {
                    width: 100%;
                    height: auto;
                }
            }


        }

        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                .searchresults-item-icon {
                    color: var(--lz-primary);
                }
            }
        }


    }
}


