.filter {

  padding-bottom: 3rem;

  &-block {
    h4 {
      font-size: 1rem;
      margin-top: 2rem;
    }
    &:first-of-type {
      h4:first-child {
        margin-top: 0;
      }
    }


    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
      display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;

        .form-check-input {
          border-radius: 0.25rem;
          border-color: var(--bs-primary);
        }


        .count {
          margin-left: 0.25rem;
          display: inline-flex;
          max-height: 1.666em;
          align-items: center;
          border-radius: 9999px;
          padding: 0.125rem 0.5rem;
          font-size: 0.75rem;
          line-height: 1rem;
          border: 1px solid $border-color;
        }

     }

    }
  }

}

#slider {
  height: 10px;
  box-shadow: none;
  border: 1px solid $body-color;

  .noUi-connect {
    background: var(--bs-primary);
  }

  .noUi-tooltip {
    font-size: 0.66rem;
  }
  .noUi-value-large {
    font-size: 0.75rem;
  }

  .noUi-value-sub {
    font-size: 0.55rem;
  }

  .noUi-handle {
    width: 18px;
    height: 18px;
   top: -5px;
    right: -9px;
    border-radius: 9px;
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
  }
}

.search-result {

  &-item {
   // background-color: $placeholder-color;
    height: 100px;
    text-align: center;

    h3 {
      font-size: 1.25rem;
      padding: 2rem;
    }
  }
}