.searchresults {
    &-total-items {
        grid-column: 1 / -1; // Default: spans the entire width, regardless of the number of columns
        font-weight: 600;
        letter-spacing: 0.01em;

        &.frame {
            margin-bottom: 0;
        }
    }

    &-item {
        &.frame {
            border-bottom: 1px solid var(--lz-gray);
            margin-bottom: calc($mobile-design-space / 2);
            padding-bottom: calc($mobile-design-space / 2);

            // last item without border bottom
            &:last-child {
                border-bottom: none;
            }

            @include media-breakpoint-up(md) {
                margin-bottom: calc($desktop-design-space / 2);
                padding-bottom: calc($desktop-design-space / 2);
            }
        }
    }

    .filter-block {

        h4 {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
        ul {
            font-size: $font-size-md;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 3px;
            }
        }
    }

}
