.searchbar {
    margin-top: calc($mobile-design-space - 1rem);
    @include media-breakpoint-up(md) {
        margin-top: calc($desktop-design-space - 1rem);
    }

    &-input-group {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            width: 100%;
            display: flex;
            align-items: stretch;
            position: relative;
            gap: 0;

            & > :not(:first-child):not(.dropdown-menu):not(.no-ml) {
                margin-left: -1px;
            }
        }

    }

    input, select {
        border: 1px solid var(--lz-font-color);
        padding: var(--lz-form-padding-h) var(--lz-form-padding-v);
        border-radius: 0;
        background-color: white;
        color: var(--lz-font-color);

    }

    input[type="search"] {
        flex: 1 1 auto;
        padding-right: 2rem;
        width: 100%;
        outline-offset: inherit;

        &::placeholder {
            font-size: 1rem;
        }

        @include media-breakpoint-up(md) {

            &::placeholder {
                font-size: $font-size-sm;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
            }

            &::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }
        }
    }

    select {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9l6 6 6-6' stroke='black' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.4rem center;
        background-size: 1.25rem 1.25rem;
        padding-right: 2.5rem;
        font-size: 1rem;

        option {
            font-size: 1rem;
        }

        @include media-breakpoint-up(md) {
            font-size: $font-size-sm;
        }

    }

    .btn {
        font-size: 1rem;
        @include media-breakpoint-up(md) {
            font-size: $font-size-sm;
        }
    }

    &-submit {
        color: var(--lz-font-color-inverse);
        background-color: var(--lz-font-color);
        border-color: var(--lz-font-color);

        &:hover {
            background-color: var(--lz-primary);
            border-color: var(--lz-primary);
        }

        @include media-breakpoint-up(md) {
            color: var(--lz-font-color);
            border-color: var(--lz-font-color);
            background-color: white;

            &:hover {
                background-color: var(--lz-font-color);
                color: var(--lz-font-color-inverse);
                border-color: var(--lz-font-color);
            }


        }
    }

    &-clearButton {
        appearance: none;
        background-color: transparent;
        border: none;
        margin-left: calc(-2rem + 1px);
        padding: 0;
        width: 2rem;
        cursor: pointer;
        display: none;

        @include media-breakpoint-up(md) {
            &.show {
                display: block;
            }
        }

        &:hover {
            color: var(--lz-primary);
        }


    }

}
