.searchdetail {


    &-itemtype {
        display: inline-flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            align-items: center;
        }


        &-icon {
            display: block;
            height: 34px;
            width: 34px;
            @include media-breakpoint-up(sm) {
                height: 2.5rem;
                width: 2.5rem;
            }
            @include media-breakpoint-up(md) {
                text-align: center;
            }
            @include media-breakpoint-up(lg) {
                height: 3rem;
                width: 3rem;
            }

            svg.iconpack {
                width: auto;
                height: 100%;
            }
        }

        &-title {
            display: inline-block;
            font-weight: 600;
            font-size: $font-size-base;
            font-family: $font-family-base;
        }

    }

    &-list {
        margin: 0;
        padding: 0;

        > div {
            margin-bottom: 1em;
        }

        dt {
            display: inline;
            font-weight: 600;
            margin-right: 0.3rem;
            &::after {
                content: ":";
            }
        }

        dd {
           display: inline;
            margin: 0;
        }

    }

}


.detail-navigation {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.detail-navigation-info {
    text-align: center;
    margin-bottom: 0.75rem;
}

.detail-navigation-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.detail-navigation-buttons .btn {
    flex: 1;
    max-width: 150px;
}

.detail-navigation-back {
    text-align: center;
    border-top: 1px solid #dee2e6;
    padding-top: 0.75rem;
}

.detail-nav-prev,
.detail-nav-next {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}


