.searchdetail {


    &-itemtype {
        display: inline-flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            align-items: center;
        }


        &-icon {
            display: block;
            height: 34px;
            width: 34px;
            @include media-breakpoint-up(sm) {
                height: 2.5rem;
                width: 2.5rem;
            }
            @include media-breakpoint-up(md) {
                text-align: center;
            }
            @include media-breakpoint-up(lg) {
                height: 3rem;
                width: 3rem;
            }

            svg.iconpack {
                width: auto;
                height: 100%;
            }
        }

        &-title {
            display: inline-block;
            font-weight: 600;
            font-size: $font-size-base;
            font-family: $font-family-base;
        }

    }

    &-list {
        margin: 0;
        padding: 0;

        > div {
            margin-bottom: 1em;
        }

        dt {
            display: inline;
            font-weight: 600;
            margin-right: 0.3rem;
            &::after {
                content: ":";
            }
        }

        dd {
           display: inline;
            margin: 0;
        }

    }

}


