.searchdetail {


    &-itemtype {
        display: inline-flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            align-items: center;
        }


        &-icon {
            display: block;
            height: 34px;
            width: 34px;
            @include media-breakpoint-up(sm) {
                height: 2.5rem;
                width: 2.5rem;
            }
            @include media-breakpoint-up(md) {
                text-align: center;
            }
            @include media-breakpoint-up(lg) {
                height: 3rem;
                width: 3rem;
            }

            svg.iconpack {
                width: auto;
                height: 100%;
            }
        }

        &-title {
            display: inline-block;
            font-weight: 600;
            font-size: $font-size-base;
            font-family: $font-family-base;
        }

    }

    &-list {
        margin: 0;
        padding: 0;

        > div {
            margin-bottom: 1em;
        }

        dt {
            display: inline;
            font-weight: 600;
            margin-right: 0.3rem;
            &::after {
                content: ":";
            }
        }

        dd {
           display: inline;
            margin: 0;
        }

    }

    &-navigation {
        margin-top: 5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "info info info"
        "prev-area back-area next-area";
        gap: 0.5rem;
        @include media-breakpoint-up(lg) {
           margin-top: 8rem;
        }

        &-info {
            grid-area: info;
            text-align: center;
            font-size: $font-size-sm;
            margin-bottom: 0;
        }

        &-buttons {
            grid-column: 1 / -1;
            grid-row: 2;
            display: contents; // This allows child elements to participate in the parent grid
            line-height: 1.2;

            .prev {
                grid-area: prev-area;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-self: start; // Align to the left within the grid area
            }

            .back {
                grid-area: back-area;
                text-align: center;
                justify-self: center; // Center within the grid area
            }

            .next {
                grid-area: next-area;
                display: flex;
                align-items: center;
                gap: 5px;
                text-align: right;
                justify-self: end;
            }

            svg.iconpack {
                color: var(--lz-primary);
                height: 1.5rem;
                stroke-width: 2px;
            }

            a {
                font-size: $font-size-md;
                text-decoration: none;
                color: inherit;
                &:hover {
                    color: var(--lz-primary);
                }
            }
        }
    }


}



