@font-face {
  font-family: Beausite Classic;
  font-style: normal;
  font-weight: 300;
 // font-display: swap;
  src: url("../Fonts/BeausiteClassicWeb-Clear.woff2") format("woff2");
  src: url("../Fonts/BeausiteClassicWeb-Clear.woff") format("woff");
}

@font-face {
  font-family: Beausite Classic;
  font-style: normal;
  font-weight: 400;
//  font-display: swap;
  src: url("../Fonts/BeausiteClassicWeb-Regular.woff2") format("woff2");
  src: url("../Fonts/BeausiteClassicWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: Beausite Classic;
    font-style: normal;
    font-weight: 500;
    //  font-display: swap;
    src: url("../Fonts/BeausiteClassicWeb-Medium.woff2") format("woff2");
    src: url("../Fonts/BeausiteClassicWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: Beausite Classic;
  font-style: normal;
  font-weight: 600;
//  font-display: swap;
  src: url("../Fonts/BeausiteClassicWeb-Semibold.woff2") format("woff2");
  src: url("../Fonts/BeausiteClassicWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: Make Way;
  font-style: normal;
  font-weight: 400;
//  font-display: swap;
  src: url("../Fonts/MakeWayWeb-Regular.woff2") format("woff2");
  src: url("../Fonts/MakeWayWeb-Regular.woff") format("woff");
}

html {
    font-size: $font-size-root;
}


body {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $headlines-margin-bottom;
    line-height: 1.18;
}

h1 {
    font-size: $h1-mobile-font-size;
    @include media-breakpoint-up(md) {
        font-size: $h1-font-size;
    }
}

h2 {
    font-size: $h2-mobile-font-size;
    @include media-breakpoint-up(md) {
        font-size: $h2-font-size;
    }
}

h3 {
    font-size: $h3-mobile-font-size;
    @include media-breakpoint-up(md) {
        font-size: $h3-font-size;
    }
}

h4 {
    font-size: $h4-mobile-font-size;
    @include media-breakpoint-up(md) {
        font-size: $h4-font-size;
    }
}

h5 {
    font-size: $h5-mobile-font-size;
    @include media-breakpoint-up(md) {
        font-size: $h5-font-size;
    }
}

h1, h2, h3 {
  font-weight: 400;
  font-family: "Make Way", serif;
}

h4, h5 {
  font-weight: 500;
  font-size: $h4-font-size;
}

h6 {
    font-size: $font-size-base;
}

p {
    margin-top: 0;
    letter-spacing: 0.01em; // extend letter spacing for text -> a wish from the designer
}


strong {
  font-weight: 600;
}

.max-textblock-width {
  max-width: 50rem;
 // hyphens: auto;
}



.flex-between
{
  display: flex;
  justify-content: space-between;
}


.small-fontsize {
  font-size: 0.85rem;
}

