
$coralrot: #ff4208; // primary
$lightgray: #f5f7f7; // header background and very light gray backgrounds (previous: #f6f8f7)
$gray: #c7c9c4; // lines

// tertiary colors
$tertiary-bg: #f9fcfd; // very light blue
$tertiary-light-blue: #dae8ef; // light blue
$tertiary-middle-blue: #baced3; // middle blue
$tertiary-dark-blue: #5a6b75; // dark blued


$primary: $coralrot;

$offcanvas-bg: white;

$font-family-base: Beausite Classic, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
$font-family-headlines: "Make Way",  serif;

$font-weight-base: 300;
$font-size-root: 18px;

$font-size-sm: 0.77777777rem;
$font-size-base: 1rem;

$h1-font-size:                $font-size-base * 2.666666667;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.777777778;
$h4-font-size:                $font-size-base * 1.3333333333;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$h1-mobile-font-size: 1.8rem;
$h2-mobile-font-size: 1.5rem;
$h3-mobile-font-size: 1.3rem;
$h4-mobile-font-size: 1.2rem;
$h5-mobile-font-size: 1.2rem;


$headlines-margin-bottom: 1.2rem;

$line-height-base:            1.4444444444;


$grid-breakpoints:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1340px, // note the context between $container-padding-x and this breakpoint!
    xxl: 1500px
);

$container-max-widths: (
 //   sm: 540px,
 //   md: 732px,
 //   lg: 960px,
    xl: 1260px, // content width from designers InDesign files
 //   xxl: 1320px
);

/*$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);*/

$navbar-expand: lg;

$container-padding-x: 20px;

// this is the space the designer uses for margins and paddings on desktop screen = size of the portal logo
$desktop-design-space: 46px;
$mobile-design-space: 2rem;
