// this wolud be the additional stylesheet for RTE



@import "variables";
@import "mixins";
@import "general";
@import "typo";

a {
    color: var(--lz-font-color);
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: var(--lz-primary);
    }

}

a[href^=http] {
    &::before {
        background-color: currentColor;
        content: "";
        mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="externallink" stroke-width="0px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 35.11 35.19"><g><polygon points="26.88 24.5 26.88 30.97 4.21 30.97 4.21 8.04 10.78 8.04 10.78 3.83 0 3.83 0 35.19 31.1 35.19 31.1 24.5 26.88 24.5" /><polygon points="21.89 0 21.89 4.21 27.92 4.21 14.22 17.9 17.2 20.88 30.89 7.19 30.89 13.4 35.11 13.4 35.11 0 21.89 0" /></g></svg>');
        mask-position: center;
        mask-repeat: no-repeat;
        display: inline-block;
        width: 1em;
        height: 0.7em;
        margin-right: 2px;
    }
}

a:not([href^="mailto:"]):not([href^=http])::before {
    background-color: currentColor;
    content: "";
    mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="internallink" stroke-width="0px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.32 13.35"><g id="internallink-icon" ><g><polygon class="cls-1" points="10.2 11.75 1.6 11.75 1.6 3.05 4.09 3.05 4.09 1.45 0 1.45 0 13.35 11.8 13.35 11.8 9.29 10.2 9.29 10.2 11.75"/><polygon class="cls-1" points="10.41 7.92 10.41 6.32 8.12 6.32 13.32 1.13 12.19 0 6.99 5.19 6.99 2.84 5.39 2.84 5.39 7.92 10.41 7.92"/></g></g></svg>');
    mask-position: center;
    mask-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 0.7em;
    margin-right: 2px;
}

a.no-link-icon {
    &::before {
        content: none;
    }
}
