<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="MenuSectionLayout" />
<f:section name="Main">

    <f:if condition="{menu}">
        <f:if condition="{menu -> f:count()} > 1">
            <f:then>
                <ul>
                    <f:for each="{menu}" as="page">
                        <li>
                            <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">{page.title}</a>
                            <f:render section="Menu" arguments="{page: page}" />
                        </li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <f:for each="{menu}" as="page">
                    <f:render section="Menu" arguments="{page: page}" />
                </f:for>
            </f:else>
        </f:if>
    </f:if>
</f:section>

<f:comment>Here the section menu was rendered above</f:comment>
<f:section name="Menu">
    <f:if condition="{page.content}">
        {f:variable(name: 'count', value: 0)}
        <ul>
            <f:for each="{page.content}" as="element" iteration="iteration">
                <f:if condition="{element.data.header}">
                    <li>
                        <a data-target-id="c{element.data.uid}" class="{iteration.cycle}  {f:if(condition: '{count}==0', then: 'active')}" href="{page.link}#c{element.data.uid}" {f:if(condition: page.target, then: ' target="{page.target}"')} title="{element.data.subheader}">{element.data.header}</a>
                    </li>
                    {f:variable(name: 'count', value: '{count + 1}')}

                </f:if>
            </f:for>
        </ul>
    </f:if>

</f:section>
</html>
