<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:comment>ToDo: get the image aspect ratio and set an max with class if image is in portrait format,because of too hight images in tablet view</f:comment>
<figure>
    <f:if condition="{data.image.0.originalFile.properties.extension} == svg">
        <f:then>
            <f:image image="{data.image.0}" loading="lazy" title="{data.image.0.title}"
                     alt="{data.image.0.alternative}"/>
        </f:then>
        <f:else>
            <picture>
                <source media="(min-width: 800px)" srcset="{f:uri.image(image: data.image.0, maxWidth: 1200)}"/>
                <source srcset="{f:uri.image(image: data.image.0, maxWidth: 768)}"/>
                <img src="{f:uri.image(image: data.image.0, maxWidth: 768)}" loading="lazy" title="{data.image.0.title}"
                     alt="{data.image.0.alternative}"/>
            </picture>
        </f:else>
    </f:if>
    <f:if condition="{data.caption}">
        <figcaption class="figure-caption">{data.caption}</figcaption>
    </f:if>
</figure>

