<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" data-namespace-typo3-fluid="true">

<section class="footer-cta {f:if(condition:'{data.showNewsTeaser} != 1', then: ' no-newsteaser')}">
    <div class="container-xl">
        <f:comment>
            <h3 class="footer-cta-title">Ich möchte:</h3>
            <div class="footer-cta-actions grid grid-3col-md">
                <a href="#" >Mehr über das Projekt <span class="arrow-right-after">erfahren</span></a>
                <a href="#" >Das Projekt-Team <span class="arrow-right-after">kennenlernen</span></a>
                <a href="#">Einen Titel in der Franz Liszt Bibliographie <span class="arrow-right-after">suchen</span></a>
            </div>
         </f:comment>
        <f:if condition="{layout} == 'searchDetails'">
        <div class="testversion-disclaimer">
        <h3>Testversion</h3>
        <p>Die Bibliografie befindet sich derzeit im Aufbau und wird fortlaufend ergänzt und überprüft.<br />Wir freuen uns über Hinweise zu Addenda und Corrigenda per <f:link.email class="arrow-right-after" email="constanze.koehn@zegk.uni-heidelberg.de,margret.scharrer@zegk.uni-heidelberg.de">Mail.</f:link.email></p>
        </div>
        </f:if>
    </div>
</section>



<footer class="footer">

    <div class="footer-main container-xl grid grid-3col-md">
            <div class="footer-contact">
                <h3>Kontakt</h3>
                <p>
                    Sächsische Landesbibliothek<br />
                    Staats- und Universitätsbibliothek Dresden SLUB<br />
                    Abteilung Informationstechnologie<br />
                    Referat Digitale Objekte<br />
                    Postadresse: 01054 Dresden<br />
                    Besucheradresse: Zellescher Weg 18<br />
                    01069 Dresden

                </p>
            </div>
            <div class="footer-founding-logos grid-colspan-md-2">
                <div class="cols">
                    <f:image class="logo heidelberg" src="EXT:liszt_web/Resources/Public/Icons/Logo-Heidelberg.svg" alt="Logo: Universtität Heidelberg" loading="lazy" />
                    <f:image class="logo weimar" src="EXT:liszt_web/Resources/Public/Icons/Logo-Weimar.svg" alt="Logo: Klassik Stiftung Weimar" loading="lazy" />
                    <f:image class="logo slub" src="EXT:liszt_web/Resources/Public/Icons/Logo-SLUB.svg" alt="Logo: SLUB" loading="lazy" />
                </div>
                <f:image class="logo dfg" src="EXT:liszt_web/Resources/Public/Icons/Logo-DFG.svg" alt="Logo: Gefördert durch die Deutsche Forschungsgemeinschaft DFG" loading="lazy" />

            </div>
    </div>

    <div class="footer-meta">
        <div class="footer-meta-wrapper container-xl">
            <nav class="footer-meta-nav" aria-label="{metanavtitle}">
                <ul>
                    <f:for each="{metaMenu}" as="item" iteration="counter">
                        <li>
                            <f:link.typolink parameter="{item.data.uid}" target="{item.target}" ></f:link.typolink>
                        </li>
                    </f:for>
                </ul>
            </nav>
            <span class="footer-meta-copyright">
                <f:cObject typoscriptObjectPath="lib.copyright" />
            </span>
        </div>
    </div>
</footer>
