<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<header id="page-header" class="page-header navbar">

    <div class="container-xl page-header-container">
        <f:link.page pageUid="{rootPage}" class="page-header-logo" title="{f:translate(key: 'inline-labels.liszt_web.toHome', extensionName: 'liszt_web')}">
            <f:image src="EXT:liszt_web/Resources/Public/Icons/LogoLisztPortal.svg" alt="Logo Liszt Portal" />
        </f:link.page>

        <f:if condition="{data.image.0}" >
            <f:then>
            <div class="page-header-image">
                <f:image image="{data.image.0}" />
            </div>
            </f:then>
            <f:else>
                <div class="page-header-image">
                <f:image src="EXT:liszt_web/Resources/Public/Images/Liszt-Kopf-1.jpg" alt="Franz Liszt Porträt Foto" />
                </div>
            </f:else>
        </f:if>


        <div class="page-header-title">
            <h1 class="page-header-title-text">{f:if(condition: data.headline, then: data.headline, else: data.title )}</h1>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainnavigation" aria-controls="mainnavigation" aria-label="{f:translate(key: 'switchNavigation', extensionName: 'liszt_web')}">
            <span class="navbar-toggler-icon" aria-hidden="true">
                <span class="navbar-toggler-icon-bar"></span>
                <span class="navbar-toggler-icon-bar"></span>
                <span class="navbar-toggler-icon-bar"></span>
            </span>
        </button>

        <f:render partial="MainNav" arguments="{_all}" />

    </div>
</header>
