<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" data-namespace-typo3-fluid="true">

        <nav id="mainnavigation" class="main-nav offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">{f:translate(key: 'mainMenuLabel', extensionName: 'liszt_web')}</h5>
                <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="{f:translate(key: 'inline-labels.liszt_web.close', extensionName: 'liszt_web')}">
                    <i:icon iconfig="lzicon,close" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" />
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <f:for as="item" each="{mainNavigation}">
                        <f:if condition="{item.children}">
                            <f:then>
                                <li class="root-level nav-item{f:if(condition: item.active, then:' active')}{f:if(condition: item.children, then:' dropdown dropdown-hover')}">
                                    <a href="#" type="button" data-bs-toggle="dropdown" id="dropdown-btn-{item.data.uid}" class="nav-link dropdown-toggle" title="{item.title}" aria-controls="dropdown-{item.data.uid}" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text">{item.title}</span></a>
                                    <ul class="lev2 dropdown-menu" id="dropdown-{item.data.uid}" aria-labelledby="dropdown-btn-{item.data.uid}">
                                        <f:for each="{item.children}" as="item">
                                            <li>
                                                <f:link.typolink parameter="{item.data.uid}" class="dropdown-item{f:if(condition: item.active, then:' active')}" title="{item.title }">
                                                    <span class="dropdown-text">{item.title}<f:if condition="{item.current}"> <span class="visually-hidden">(current)</span></f:if></span>
                                                </f:link.typolink>
                                            </li>
                                        </f:for>
                                    </ul>
                                </li>
                            </f:then>
                            <f:else>
                                <li class="root-level nav-item">
                                    <f:link.typolink parameter="{item.data.uid}" class="nav-link{f:if(condition: item.current, then: ' nav-current')}" title="{item.title}"><span class="nav-link-text">{item.title}<f:if condition="{item.current}"> <span class="visually-hidden">(current)</span></f:if></span></f:link.typolink>
                                </li>
                            </f:else>
                        </f:if>
                    </f:for>
                </ul>
            </div>
        </nav>
