<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainnavigation" aria-controls="mainnavigation" aria-label="{f:translate(key: 'switchNavigation', extensionName: 'liszt_web')}">
            <span class="navbar-toggler-icon" aria-hidden="true">
                <span class="navbar-toggler-icon-bar"></span>
                <span class="navbar-toggler-icon-bar"></span>
                <span class="navbar-toggler-icon-bar"></span>
            </span>
</button>
