{namespace lw=Slub\LisztWeb\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
          xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers"
data-namespace-typo3-fluid="true">

<section id="news-teaser" class="news-teaser">
    <div class="container-xl">

        <lw:listCategoriesHeadline list="{data.categories}"/>

        <f:comment><!-- The Teaser ViewHelper only accepts arrays. If the calling page is a ContentBlocks PageType, ContentBlocks data are converted. --></f:comment>
        <f:variable name="caller"><f:if condition="{data._raw}"><f:then>{data._raw}</f:then><f:else>{data}</f:else></f:if></f:variable>

        <f:for each="{lw:teaser(newsPages:newsMenu,rowLength:3,caller:caller)}" as="newsRow" iteration="newsRowsIteration">
            <div class="news-row  grid {f:if(condition: '{newsRow->f:count()} > 2', then:'grid-3col-lg')} {f:if(condition: '{newsRow->f:count()} <= 2', then:'grid-2col-md')} {f:if(condition:newsRowsIteration.isFirst,then:'first-row',else:'collapse hidden-row')}" id="news-{newsRowsIteration.index}-row" >
                <f:for each="{newsRow}" as="newsEntry" iteration="newsEntryIteration">
                    <div class="news-entry">
                        <div class="news-entry-header">
                            <h4 class="news-entry-title">{f:if(condition: newsEntry.headline, then: newsEntry.headline,
                                else: newsEntry.title )}</h4>
                            <f:if condition="{newsEntry.newsdate}">
                                <span class="news-entry-date"><f:format.date
                                    format="d.m.Y">{newsEntry.newsdate}</f:format.date></span>
                            </f:if>
                        </div>
                        {newsEntry.teaserText -> f:format.html()}
                        <f:link.page class="read-more" pageUid="{newsEntry.uid}">
                            Mehr
                        </f:link.page>
                    </div>
                </f:for>
            </div>
            <f:if condition="{newsRowsIteration.isLast} === FALSE">
               <button class="news-teaser-show collapsed" data-bs-toggle="collapse" data-bs-target="#news-{newsRowsIteration.cycle}-row" aria-expanded="false" aria-controls="news-{newsRowsIteration.cycle}-row">
                    <i:icon iconfig="lzicon,chevron-down" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" />
                   <span>Mehr anzeigen</span>
               </button>
            </f:if>
        </f:for>
    </div>
</section>

</html>
