{namespace lw=Slub\LisztWeb\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="news-teaser">

    <f:if condition="{data.categories -> f:count()}==0">
        <h3> Neuigkeiten </h3>
    </f:if>
    <f:if condition="{data.categories -> f:count()}==1">
        <h3> Mehr aus dem Bereich {data.categories.0.title} </h3>
    </f:if>
    <f:if condition="{data.categories -> f:count()}>1">
        <h3>
            Mehr aus den Bereichen <lw:listCategories list="{data.categories}" />
        </h3>
    </f:if>

    <f:for each="{lw:teaser(newsPages:newsMenu,rowLength:3,caller:data)}" as="newsRow" iteration="newsRowsIteration">
        <div class="news-row {f:if(condition:newsRowsIteration.isFirst,then:'first-row',else:'hidden-row')}">
            <f:for each="{newsRow}" as="newsEntry">
                <div class="news-entry">
                    <f:if condition="{newsEntry.image.0}">
                        <f:image image="{newsEntry.image.0}" />
                    </f:if>
                    <h3> {newsEntry.title} </h3>
                    <p> {newsEntry.teaserText} </p>
                    <f:link.page pageUid="{newsEntry.uid}">
                        weiter lesen
                    </f:link.page>
                </div>
            </f:for>
        </div>
        <f:if condition="newsRowsIteration.isFirst">
            mehr laden
        </f:if>
    </f:for>

</div>

</html>
