{namespace lw=Slub\LisztWeb\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<section id="news-teaser" class="news-teaser">
    <div class="container-xl">

        <lw:listCategoriesHeadline list="{data.categories}"/>

        <f:for each="{lw:teaser(newsPages:newsMenu,rowLength:3,caller:data)}" as="newsRow" iteration="newsRowsIteration">
            <f:comment>ToDO: refactor the if conditions in an view helper</f:comment>
            <f:debug>{newsRowsIteration}</f:debug>
            <div class="news-row  grid {f:if(condition: '{newsRowsIteration.total} > 2', then:'grid-3col-md')} {f:if(condition: '{newsRowsIteration.total} <== 2', then:'grid-2col-md')} {f:if(condition:newsRowsIteration.isFirst,then:'first-row',else:'hidden-row')}">
                <f:for each="{newsRow}" as="newsEntry" iteration="newsEntryIteration">
                    <div class="news-entry">
                        <div class="news-entry-header">
                            <h4 class="news-entry-title">{f:if(condition: newsEntry.headline, then: newsEntry.headline,
                                else: newsEntry.title )}</h4>
                            <f:if condition="{newsEntry.newsdate}">
                                <span class="news-entry-date"><f:format.date
                                    format="d.m.Y">{newsEntry.newsdate}</f:format.date></span>
                            </f:if>
                        </div>
                        {newsEntry.teaserText -> f:format.html()}
                        <f:link.page class="read-more" pageUid="{newsEntry.uid}">
                            Mehr
                        </f:link.page>
                    </div>
                </f:for>
            </div>
            <f:if condition="newsRowsIteration.isFirst">
                <f:comment>ToDo: hier -mehr laden- Link</f:comment>
            </f:if>
        </f:for>
    </div>
</section>

</html>
