<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" data-namespace-typo3-fluid="true">

<aside class="sidemenu" id="sidemenu">
    <a href="#" aria-label="Teilen" class="sidemenu-item"><i:icon iconfig="lzicon,share" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" /></a>
    <a href="#" aria-label="Drucken" class="sidemenu-item"><i:icon iconfig="lzicon,printer" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" /></a>
    <a href="#" aria-label="XML" class="sidemenu-item"><i:icon iconfig="lzicon,xml" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" /></a>
    <a href="#" aria-label="PDF" class="sidemenu-item"><i:icon iconfig="lzicon,pdf" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" /></a>
</aside>
