<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:spaceless>
<a class="visually-hidden-focusable" href="#page-content"><span>{f:translate(key: 'skipNavTitle', extensionName: 'liszt_web')}</span></a>

<f:if condition="{data.doktype} == 120">
    <f:then>
        <f:render partial="NewsHeader" arguments="{_all}"/>
    </f:then>
    <f:else if="{data.lisztHeadImage} == 'none'" >
        <f:render partial="NewsHeader" arguments="{_all}"/>
    </f:else>
    <f:else>
        <f:render partial="Header" arguments="{_all}"/>
    </f:else>
</f:if>

<f:if condition="{data.showSearchBar} == '1'">
    <f:cObject typoscriptObjectPath="tt_content.list.20.lisztcommon_searchbar" />
</f:if>


<f:if condition="{pageId} != '1'">
<f:render partial="Breadcrumb" arguments="{_all}" />
</f:if>

<f:render section="Main"/>

<f:if condition="{data.showNewsTeaser} == '1'">
<f:render partial="NewsTeaser" arguments="{_all}" />
</f:if>


<f:render partial="Footer" arguments="{_all}" />

</f:spaceless>
</html>
