<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:spaceless>
<a class="visually-hidden-focusable" href="#page-content"><span>Zum Hauptinhalt springen</span></a>


<f:render partial="MainNav" arguments="{_all}" />

<f:comment><!-- Show Searchbar if Frontend Layout 4 is selected, changed from != to == -->
<f:if condition="{selectedFrontendLayout} == '4'">
    <f:render partial="SearchBar" arguments="{_all}" />
</f:if>
</f:comment>

<f:render section="Header" optional="true" />

<f:if condition="{pageId} != '1'">
<f:render partial="Breadcrumb" arguments="{_all}" />
</f:if>

<f:render section="Main"/>

<f:render partial="Footer" arguments="{_all}" />

</f:spaceless>
</html>
