//
// Styles for counter plugin
//

.txlisztportal-done {
    &::before {
        background-image: url(typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-check-circle.svg);
        width: 1.25rem;
        height: 1.25rem;
        content: '';
        background-repeat: no-repeat;
        background-size: 1.25rem;
        display: inline-block;
        margin-right: 1rem;
    }
}
.txlisztportal-current {
    &::before {
        background-image: url(typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-circle.svg);
        width: 1.25rem;
        height: 1.25rem;
        content: '';
        background-repeat: no-repeat;
        background-size: 1.25rem;
        display: inline-block;
        margin-right: 1rem;
    }
}
.txlisztportal-planned {
}
