<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>ToDo: translate title links, eventually use the SlidingWindowPagination</f:comment>
<ul class="pagination" aria-label="Pagination, Seiten Navigation">
        <f:if condition="{currentPage} > 1">
            <li class="page-item">
                <f:link.page additionalParams="{page: '{currentPage - 1}'}" title="zur vorherigen Seite ({currentPage -1})" class="page-icon">
                    <i:icon iconfig="lzicon,chevron-left" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" />
                </f:link.page>
            </li>
        </f:if>

    <f:for each="{pagination.allPageNumbers}" as="page">
        <li class="page-item">
            <f:link.page additionalParams="{page:page}"  title="{f:if(condition:'{currentPage}=={page}',then: 'Dies ist die aktuelle Seite {page}', else: 'Gehe zu Seite {page}')} " additionalAttributes="{f:if(condition:'{currentPage}=={page}',then:{aria-current:'true'})}" class="page-link {f:if(condition:'{currentPage}=={page}',then:'active')}">
                {page}
            </f:link.page>
        </li>
    </f:for>

    <f:if condition="{currentPage} < {pagination.paginator.numberOfPages}">
        <li class="page-item">
            <f:link.page additionalParams="{page: '{currentPage + 1}'}" title="zur nächsten Seite ({currentPage + 1})" class="page-icon">
                <i:icon iconfig="lzicon,chevron-right" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" />
            </f:link.page>
        </li>
    </f:if>


</ul>
